@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  font-family: 'Poppins', sans-serif;
}
*::-webkit-scrollbar {
  width: 0;
}
/* div::-webkit-scrollbar {
  width: 2px;
}
div::-webkit-scrollbar-track {
  background: transparent;
}
div::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: #d1d1d1;
} */

body {
  background: #f6fcf8;
}
textarea {
  resize: none;
}
input[type="number"]::-webkit-inner-spin-button {
  display: none;
}
@layer components {
  .input-field {
    @apply bg-white border-none shadow text-gray-900 text-base block w-full  p-2 rounded focus:outline-none;
  }
  .recieve-type {
    @apply w-full border border-[#1CBD5C8F] bg-white p-2 rounded cursor-pointer text-[#0B7428];
  }
}
